/* Establecer la altura del body y html al 100% */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0c0e1f, #34365a);
}
.father {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: -15px;
    color: white;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.container_left {
    width: 350px;
    padding-left: 10px;
}
.informacion1 {
    display: flex;
    flex-direction: row;
}
.informacion1 img {
    margin-top: -90px;
}
.texto1 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.texto1 b {
    font-size: 19px;
    color: white;
}
.texto1 p {
    color: #b8b8bd;
    font-size: 13.5px;
    margin: 10px 0;
}
.informacion2 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.informacion2 img {
    margin-top: -30px;
}
.texto2 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: white;
}
.texto2 b {
    font-size: 19px;
    color: white;
}
.texto2 p {
    color: #b8b8bd;
    font-size: 13px;
    margin-top: 4px;
}
.informacion3 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.informacion3 img {
    margin-top: -30px;
}
.texto3 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.texto3 b {
    font-size: 19px;
    color: white;
}
.texto3 p {
    color: #b8b8bd;
    font-size: 13px;
    margin-top: 4px;
}
.informacion4 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.informacion4 img {
    margin-top: -30px;
}
.texto4 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.texto4 b {
    font-size: 19px;
    color: white;
}
.texto4 p {
    color: #b8b8bd;
    font-size: 13px;
    margin-top: 4px;
}
.container_center {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.circulos {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.circulo1, .circulo2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 13px solid #298bfe;
    margin-top: 20px;
    text-align: center;
    padding: 17px;
    color: white;
}
.circulo1 {
    margin-left: 200px;
}
.circulo2 {
    margin-left: 350px;
}
.circulo1, .circulo2 b {
    font-size: 17px;
}
.circulo1 p {
    font-size: 13px;
    color: white;
    margin: 2px 0;
}
.circulo2 p {
    font-size: 13px;
    color: white;
    margin: 2px 0;
}
.container_max {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.small_container1, .small_container2, .small_container3 {
    flex: 1;
    box-sizing: border-box;
}
.small_container1 {
    width: 430px;
    padding-top: 200px;
    padding-left: 25px;
}
.small_container1 b {
    color: #b8b8bd;
    margin-left: 5px;
    font-size: 16px;
}
.small_container1 p {
    color: #b8b8bd;
    margin-left: 10px;
}
.info {
    display: flex;
    flex-direction: column;
}
.separador {
    height: 1px;
    width: 230px;
    background-color: #b8b8bd;
    margin-left: 1px;
}
.information5 {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 140px;
    overflow: auto;
    position: relative;
}
.information5 p {
    margin: 5px 0;
    margin-left: 5px;
}
.information5 p1 {
    color: white;
    margin-bottom: 10px ;
    margin-right: 7px;
}
.infmini {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 200px;
    text-align: end;
    margin-top: 5px;
}
.small_container2 {
    width: 340px; 
    padding-top: 190px;
    padding-left: 10px;
}
.images {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    overflow-x: auto;
    margin-top: -100px;
}
.img1, .img2, .img3, .img4 {
    height: 180px;
    width: 300px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 20px;
    background-color: blue;
}
.small_container3 {
    width: auto;
    padding-top: 200px;
    padding-left: 25px;
}
.small_container3 b {
    color: #b8b8bd;
    margin-left: 10px;
}
.information6 {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 140px;
    overflow: auto;
}
.information6 .infocol, .information6 .infomini {
    display: flex;
    flex-direction: column;
}
.information6 .infocol {
    flex: 1;
    margin-right: 20px;
}
.information6 p {
    margin: 5px 0;
    color: #b8b8bd;
}
.infomini p {
    color: white;
    text-align: right;
    margin: 6.9px 0;
}
.container_right {
    width: 550px;
    color: white;
    padding-left: 20px;
}
.container_right p {
    margin-top: -1px;
}
.barra1 {
    width: 200px;
    height: 7px;
    background-color: #298bfe;
    border-radius: 7px;
    margin-bottom: 8px;
}
.paginas {
    width: 90%;
    height: 100px;
    margin-top: 110px;
    background-color: red;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    clip-path: polygon(17% 0%, 85% 0%, 90% 100%, 11% 100%);
    background-color: #0c0e1f;
}
.footer__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer__ul li img {
    padding-top: 15px;
}
