<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsules</title>
    <link rel="stylesheet" href="../Css/capsules.css">
    <script src="../Js/components/capsules.js"></script>
</head>
<body>
    <section class="father">
        <section class="title">
            <p>type</p>
        </section>
        <section class="containers">
            <section class="container_left">
                <div class="informacion1">
                    <img src="../Storage/Img/Icon.svg" alt="">
                    <div class="texto1">
                        <b>Last update</b>
                        <p></p>
                    </div>
                </div>                
            </section>
            <section class="container_center">
                <div class="container_max">
                    <div class="small_container1">
                        <b>INFORMATION ROCKET</b>
                        <div class="separador"></div>
                        <div class="info">
                            <div class="information5">
                                <p>Type</p>
                                <p>Status</p>
                                <p>Serial</p>
                                <p>Water landings</p>
                                <p>Land landings</p>
                                <div class="infmini">
                                    <p1>type</p1>
                                    <p1>status</p1>
                                    <p1>serial</p1>
                                    <p1>water_landings</p1>
                                    <p1>land_landings</p1>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="small_container2">
                        <div class="images">
                            <div class="img1"></div>
                        </div>
                    </div>
                    <div class="small_container3">
                    </div>                    
                </div>
            </section>
        </section>
    </section>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src="Storage/Img/Icon (1).svg" height="40px" >
                    <p>Rockets</p>
                </a>
            </li>
            <li>
                <a href="capsules.html">
                    <img src="storage/img/bag.svg">
                    <p>Capsules</p>
                </a>
            </li>
            <li>
                <a href="crew.html">
                    <img src="storage/img/heart.svg">
                    <p>Crew</p>
                </a>
            </li>
            <li>
                <a href="launches.html">
                    <img src="storage/img/profile.svg">
                    <p>Launches</p>
                </a>
            </li>
            <li>
                <a href="cores.html">
                    <img src="" alt="">
                    <p>Cores</p>
                </a>
            </li>
            <li>
                <a href="dragons.html">
                    <img src="" alt="">
                    <p>Dragons</p>
                </a>
            </li>
            <li>
                <a href="landpads.html">
                    <img src="" alt="">
                    <p>Landpads</p>
                </a>
            </li>
            <li>
                <a href="company.html">
                    <img src="" alt="">
                    <p>Company</p>
                </a>
            </li>
            <li>
                <a href="launchpads.html">
                    <img src="" alt="">
                    <p>Launchpads</p>
                </a>
            </li>
            <li>
                <a href="payloads.html">
                    <img src="" alt="">
                    <p>Payloads</p>
                </a>
            </li>
            <li>
                <a href="roadster.html">
                    <img src="" alt="">
                    <p>Roadster</p>
                </a>
            </li>
            <li>
                <a href="ships.html">
                    <img src="" alt="">
                    <p>Ships</p>
                </a>
            </li>
            <li>
                <a href="starlink.html">
                    <img src="" alt="">
                    <p>Starlink</p>
                </a>
            </li>
            <li>
                <a href="history.html">
                    <img src="" alt="">
                    <p>History</p>
                </a>
            </li>
        </ul>   
    </footer>
</body>
</html>