<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew</title>
    <link rel="stylesheet" href="../Css/crew.css">
    <script src="../Js/crew.js" defer></script>
</head>
<body>
    <section class="father">
        <section class="title">
            <p id="name"></p>
        </section>
        <section class="containers">
            <section class="container_left">
                <div class="informacion4">
                    <img id="crew-image" src="../Storage/Img/Icon.svg">
                    <div class="texto4">
                        <b>Read more about the member</b>
                        <a id="wikipedia" href="#" target="_blank">Wikipedia</a>
                    </div>
                </div>
            </section>
            <section class="container_center">
                <div class="container_max">
                    <div class="small_container1">
                        <b>MEMBER INFORMATION</b>
                        <div class="separador"></div>
                        <div class="info">
                            <div class="information5">
                                <p>Name</p>
                                <p>Agency</p>
                                <p>Status</p>
                                <div class="infmini">
                                    <p id="name"></p>
                                    <p id="agency"></p>
                                    <p id="status"></p>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="small_container2">
                        <div class="images">
                            <div class="img1" id="img1"></div>
                        </div>
                    </div>                 
                </div>
            </section>
            <section class="container_right">
                <div class="paginas"></div>
            </section>
        </section>
    </section>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src="Storage/Img/Icon (1).svg" height="40px" >
                    <p>Rockets</p>
                </a>
            </li>
            <li>
                <a href="capsules.html">
                    <img src="storage/img/bag.svg">
                    <p>Capsules</p>
                </a>
            </li>
            <li>
                <a href="crew.html">
                    <img src="storage/img/heart.svg">
                    <p>Crew</p>
                </a>
            </li>
            <li>
                <a href="launches.html">
                    <img src="storage/img/profile.svg">
                    <p>Launches</p>
                </a>
            </li>
            <li>
                <a href="cores.html">
                    <img src="" alt="">
                    <p>Cores</p>
                </a>
            </li>
            <li>
                <a href="dragons.html">
                    <img src="" alt="">
                    <p>Dragons</p>
                </a>
            </li>
            <li>
                <a href="landpads.html">
                    <img src="" alt="">
                    <p>Landpads</p>
                </a>
            </li>
            <li>
                <a href="company.html">
                    <img src="" alt="">
                    <p>Company</p>
                </a>
            </li>
            <li>
                <a href="launchpads.html">
                    <img src="" alt="">
                    <p>Launchpads</p>
                </a>
            </li>
            <li>
                <a href="payloads.html">
                    <img src="" alt="">
                    <p>Payloads</p>
                </a>
            </li>
            <li>
                <a href="roadster.html">
                    <img src="" alt="">
                    <p>Roadster</p>
                </a>
            </li>
            <li>
                <a href="ships.html">
                    <img src="" alt="">
                    <p>Ships</p>
                </a>
            </li>
            <li>
                <a href="starlink.html">
                    <img src="" alt="">
                    <p>Starlink</p>
                </a>
            </li>
            <li>
                <a href="history.html">
                    <img src="" alt="">
                    <p>History</p>
                </a>
            </li>
        </ul>   
    </footer>
</body>
</html>
