<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space X</title>
    <link rel="stylesheet" href="../Css/landpads.css">
</head>
<body>
    <section class="father">
        <section class="title">
            <p>FALCON HEAVY</p>
        </section>
        <section class="containers">
            <section class="container_left">
                <div class="informacion1">
                    <img src="Storage/Img/Icon.svg">
                    <div class="texto1">
                        <b>United States</b>
                        <p>With the ability to lift into orbit over 54
                        metric tons (119,000 lb)-a mass
                        equivalent to 737 jetliner loaded with
                        passengers, crew, luggage and fuel-
                        Falcon Heavy can lift more than twice
                        the payload of the next closets 
                        operational vehicle, the Delta IV Heavy,
                        at one-third the cost.</p>
                    </div>
                </div>
                <div class="informacion2">
                    <img src="Storage/Img/Icon.svg">
                    <div class="texto2">
                        <b>The estimulated cost per 
                            rocket launch</b>
                        <p>$ 90.000.000</p>
                    </div>
                </div>
                <div class="informacion3">
                    <img src="Storage/Img/Icon.svg">
                    <div class="texto3">
                        <b>The date of the first flight of
                        the rocket</b>
                        <p>2018-02-06</p>
                    </div>
                </div>
                <div class="informacion4">
                    <img src="Storage/Img/Icon.svg">
                    <div class="texto4">
                        <b>Read more about the rocket</b>
                        <p>Wikipedia</p>
                    </div>
                </div>
            </section>
            <section class="container_center">
                <div class="circulos">
                    <div class="circulo1">
                        <b>Atmospheric
                            acceleration</b>
                            <p> 47.47 %</p>
                            <p>845kN</p>
                            <p>190.000 Lbf</p>
                    </div>
                    <div class="circulo2">
                        <b>Speed in space</b>
                        <p>46.63</p>
                        <p>914 kN</p>
                        <p>205.500 Lbf</p>
                    </div>
                </div>
                <div class="container_max">
                    <div class="small_container1">
                        <b>INFORMATION ROCKET</b>
                        <div class="separador"></div>
                        <div class="info">
                            <div class="information5">
                                <p>Type</p>
                                <p>Maximum power loss</p>
                                <p>Engine availability</p>
                                <p>Number of engines</p>
                                <p>Stage 1 fuel</p>
                                <p>Stage 2 fuel</p>
                                <div class="infmini">
                                    <p1>rocket</p1>
                                    <p1>Active</p1>
                                    <p1>2</p1>
                                    <p1>2</p1>
                                    <p1>12</p1>
                                    <p1>carbon fiber</p1>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="small_container2">
                        <div class="images">
                            <div class="img1">

                            </div>
                            <div class="img2">

                            </div>
                            <div class="img3">

                            </div>
                        </div>
                    </div>
                    <div class="small_container3">
                        <b>ENGINE INFORMATION</b>
                        <div class="separador"></div>
                        <div class="info">
                            <div class="information6">
                                <p>Type</p>
                                <p>Maximum power loss</p>
                                <p>Engine availability</p>
                                <p>Number of engines</p>
                                <p>Stage 1 fuel</p>
                                <p>Stage 2 fuel</p>
                                <div class="inf0mini">
                                    <p1>merlin 1D+</p1>
                                    <p1>6</p1>
                                    <p1>octaweb</p1>
                                    <p1>27</p1>
                                    <p1>liquid oxygen</p1>
                                    <p1>RP-1 kerosene</p1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="container_right">
                <div class="item">
                    <p>Rocket weight:</p>
                    <span id="kg">/ 3.125.735 lb</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Low Earth Orbit:</p>
                    <span>63.800 kg / 140.660 lb</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Geosynchronous Transfer Orbit:</p>
                    <span>26.700 kg / 58.860 lb</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Mars Orbit:</p>
                    <span>16.800 kg / 37.040 lb</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Pluto Orbit:</p>
                    <span>3.500 kg / 7.720 lb</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Rocket Height:</p>
                    <span>70 M / 229,6 F</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Rocket diameter:</p>
                    <span>12,2 M / 39,9 F</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Diameter rocket shield:</p>
                    <span>5,2 M / 17,1 F</span>
                    <div class="barra1"></div>
                </div>
                <div class="item">
                    <p>Height rocket shield:</p>
                    <span>13,1 M / 43 F</span>
                    <div class="barra1"></div>
                </div>
            </section>
            
        </section>
    </section>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src="Storage/Img/Icon (1).svg" height="40px" >
                    <p>Rockets</p>
                </a>
            </li>
            <li>
                <a href="capsules.html">
                    <img src="storage/img/bag.svg">
                    <p>Capsules</p>
                </a>
            </li>
            <li>
                <a href="crew.html">
                    <img src="storage/img/heart.svg">
                    <p>Crew</p>
                </a>
            </li>
            <li>
                <a href="launches.html">
                    <img src="storage/img/profile.svg">
                    <p>Launches</p>
                </a>
            </li>
            <li>
                <a href="cores.html">
                    <img src="" alt="">
                    <p>Cores</p>
                </a>
            </li>
            <li>
                <a href="dragons.html">
                    <img src="" alt="">
                    <p>Dragons</p>
                </a>
            </li>
            <li>
                <a href="landpads.html">
                    <img src="" alt="">
                    <p>Landpads</p>
                </a>
            </li>
            <li>
                <a href="company.html">
                    <img src="" alt="">
                    <p>Company</p>
                </a>
            </li>
            <li>
                <a href="launchpads.html">
                    <img src="" alt="">
                    <p>Launchpads</p>
                </a>
            </li>
            <li>
                <a href="payloads.html">
                    <img src="" alt="">
                    <p>Payloads</p>
                </a>
            </li>
            <li>
                <a href="roadster.html">
                    <img src="" alt="">
                    <p>Roadster</p>
                </a>
            </li>
            <li>
                <a href="ships.html">
                    <img src="" alt="">
                    <p>Ships</p>
                </a>
            </li>
            <li>
                <a href="starlink.html">
                    <img src="" alt="">
                    <p>Starlink</p>
                </a>
            </li>
            <li>
                <a href="history.html">
                    <img src="" alt="">
                    <p>History</p>
                </a>
            </li>
        </ul>   
    </footer>
</body>
</html>